<!-- <div class="form-group">
    <label for="file">Choose File</label>
    <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
    
</div> -->
<div class="p-fluid">
    <div class="p-field">
        <label for="file" class="p-sr-only">Choose a File</label>
        <p-fileUpload id="file"
        accept="*.yaml" [auto]="true" (onSelect)="handleFileInput($event)" ></p-fileUpload>
        <!-- <input id="file" type="file" pInputText placeholder="Firstname">  -->
    </div>
    <button pButton type="button" label="Submit" (click)="uploadDocument()"></button>
</div>